.header-style {
  border: solid 1px black;
  box-shadow: 0px 0px 5px grey;
  //   background-image: linear-gradient(to bottom right, #ff9933, #ffffff, #138808);
  background-image: linear-gradient(
    to bottom right,
    #0096ff,
    royalblue,
    #5d3fd3
  );
  min-height: 5rem;
  text-align: center;

  .header-heading {
    font-size: 4rem;
    color: white;
    font-weight: 300;
    padding: 1rem;
  }

  .header-links {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
    }
    a {
      text-decoration: none;
      color: white;
      font-size: 15px;
    }
    a:hover {
      text-shadow: 0 0 2px black;
    }
    .link-active {
      border-bottom: solid 2px white;
      padding-bottom: 2px;
      transition: 2s;
    }
  }

  .logout-btn {
    float: right;
    button {
      background-color: red;
    }
  }
}
